<div class="info-window">
  <div style="display: flex">
    <div>
      <div style="display: flex; width: 165px">
        <div
          style="
            background-image: url('js/check.svg');
            background-size: cover;
            background-position: center;
            height: 24px;
            width: 24px;
          "
        ></div>
        <p
          style="
            color: #838e9a;
            font-size: 10px;
            margin-left: 5px;
            font-weight: 700;
          "
        >
          군 제휴 안경점
        </p>
      </div>
      <div style="font-weight: bold; font-size: 20px; color: #25282b">
        ${location.address}
      </div>
      <div style="font-size: 12px; color: #77838f">${location.content}</div>
      <!-- <div>${location.content}</div> -->
      <a href="${location.link}" target="_blank">네이버 지도에서 보기</a>
      <div
        style="
          background-color: #f6f6f6;
          width: 155px;
          height: 27px;
          color: black;
          font-weight: 300;
          font-size: 12px;
          margin-top: 10px;
        "
      >
        <p style="text-align: center; padding: 3px">리뷰 더 보기</p>
      </div>
    </div>

    <div style="width: 100px; overflow-wrap: break-word">
      <div
        style="
          width: 94px;
          height: 94px;
          background-color: #fd8777;
          border-radius: 5px;
          margin-bottom: 10px;
          padding: 38px 8px;
        "
      >
        <div style="display: flex; cursor: pointer">
          <div
            style="
              background-image: url('js/call.svg');
              background-size: cover;
              background-position: center;
              height: 24px;
              width: 24px;
            "
          ></div>
          <div style="font-weight: bold; font-size: 12px; color: #fff7f6">
            전화하기
          </div>
        </div>
      </div>
      <div
        style="
          width: 94px;
          height: 36px;
          background-color: #fd8777;
          border-radius: 5px;
          padding: 8px 15px;
        "
      >
        <div style="display: flex; cursor: pointer">
          <div
            style="
              background-image: url('js/bus.svg');
              background-size: cover;
              background-position: center;
              height: 24px;
              width: 24px;
              padding: 8px 13px 8px 13px;
            "
          ></div>
          <div style="font-weight: bold; font-size: 12px; color: #fff7f6">
            길찾기
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
